body {
  background-color: #000000;
  font-family: "Open Sans", sans-serif;

  .header {
    display: flex;
    justify-content: center;
    
    .title {
      text-transform: uppercase;
      font-size: 54px;
      font-weight: bold;
      font-style: italic;
      color: #000000;
      -webkit-text-stroke: 2px #ffd56a;
      text-shadow: 0 0 5px hsl(17, 100%, 50%), 0 0 10px #ff5100,
        0 0 20px #ef4c01, 0 0 40px #ef4c01, 0 0 80px #ef4c01;
    }
  }
  main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .statistics {
      display: flex;
      width: 622px;
      justify-content: space-evenly;
      
      .statCell {
        width: 150px;
        height: 110px;
        background-color: #383534d0;
        border-radius: 10px;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .player {
          font-size: 20px;
        }
        .counter{
            font-size: 55px;
          }
      }
    }

    #area {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        align-items: center;
        justify-items: center;  
        font-size: 0;
        background-image: url(../img/lines.svg);
        background-repeat: no-repeat;
        padding: 20px;
        background-position: center center  ;
        .cell {
          width: 150px;
          height: 150px;
          margin: 22px;
          line-height: 50px;
          text-align: center;
          display: inline-block;
          font-size: 26px;
          background-image: url(../img/Neon-border.svg);
          background-size: contain;
          cursor: pointer;
          vertical-align: middle;
          transition: background 0.1s;
          color: white;
          transition: 0.3s;
          &:hover {
            transform: scale(1.05); 
            transition: 0.3s;
          }
        }
    }

    .currentPlauer {
      .neonText {
        font-size: 25px;
        color: white;
        #curPlayer {
          color: #ff5100;
           text-shadow:  
            0 0 10px #ff5100,
            0 0 20px #ef4c01, 
            0 0 40px #ef4c01, 
            0 0 80px #ef4c01;
    
        }
      }
    }

    }
  }

